<div class="navbar navbar-default" role="navigation">
   <div class="container">
      <div class="navbar-header">

         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>

         <a class="navbar-brand" href="#/">Codemotion</a>
      </div>

      <!-- <div class="collapse navbar-collapse" id="js-navbar-collapse">

         <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/">Contact</a></li>
         </ul>
      </div> -->
   </div>
</div>

<!-- <div ng-app="codemotionApp">
   <div ng-controller="MainCtrl as controller" class="videogular-container">
      <videogular vg-theme="controller.config.theme">
         <vg-media vg-src="controller.config.sources"
               vg-tracks="controller.config.tracks">
         </vg-media> -->
         <!-- {{sources}} -->

         <!-- <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
               <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
               <vg-mute-button></vg-mute-button>
               <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
         </vg-controls>

         <vg-overlay-play></vg-overlay-play>
         <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
      </videogular>
   </div> -->

   <div ui-ace><!-- </div> --> <!-- ctrl -->
<!-- </div> -->
