<div class="navbar navbar-default" role="navigation">
   <div class="container">
      <div class="navbar-header">

         <!-- <button type="button" class="navbar-toggle collapsed"
               data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button> -->

         <a class="navbar-brand" href="#/">Codemotion</a>
      </div>

      <!-- <div class="collapse navbar-collapse" id="js-navbar-collapse">

         <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/">Contact</a></li>
         </ul>
      </div> -->
   </div>
</div>

<!-- http://stackoverflow.com/questions/19254400/is-it-bad-to-declare-ng-app-and-ng-controller-on-same-element -->
<div ng-app="codemotionApp" ng-controller="MainCtrl as controller">
   <div ng-repeat="seg in segments">
      
      <textarea style="display:block">transcript for current frame (part {{$index+1}})</textarea>

      <video id="v{{$index+1}}" class="part" onload="set_start()" preload="metadata" controls>
         <source src="{{ seg.url }}" type="video/mp4" />
         Your browser does not support HTML5 video.
      </video>

      <textarea class="code">{{seg.code}}</textarea>

      <!-- <div ui-ace="{ mode: 'python', showGutter: false, onload: aceLoaded}"
            id="aceText{{$index}}"></div> -->
      
      <br>
      <br>

   </div>
</div>

<script>
   function seek_segment(video) { video.currentTime = 410; }
   function set_start() {
      console.log("seeking to position of video 1");
      document.getElementById("v1").currentTime = 410;
      document.getElementById("v1").addEventListener("loadedmetadata", seek_segment(this), false);
   }

   $(".part").hover(function toggleControls() {
      console.log("hover event")
      if (this.hasAttribute("controls"))
         this.removeAttribute("controls");
      else
         this.setAttribute("controls", "controls");
   });

   $("#v1").onseeked = function() {
      alert("seek operation performed");
   };
</script>